.address {
  max-width: 500px;
  //justify-content: space-between;
 // display: block;
 flex: 0.5;
  margin-bottom: 30px;
  margin-left: 10px;

  .total-amount {
    margin-bottom: 20px;
  }
}

@media (max-width: 852px) {
  .address {
    width: 380px;
    margin-left: 0px;

  }
}
