.contact-container{
    margin: 20vh auto auto;
    max-width: 1200px;
    font-size: 18px;

    .micro{
        width: 230px;
        height: 230px;
        
        margin: 0 auto auto;
    }
    span{
        color: blue;
    }
}