.collection-container {
  max-width: 1200px;
  margin: 10vh auto 30px;

  .products {
    justify-content: space-between;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
  }
}

@media (max-width: 1000px) {
  .collection-container {
    .products {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (max-width: 800px) {
  .collection-container {
    .products {
      grid-template-columns: 1fr;
    }
  }
}
