.navigation-container {
  height: 70px;
  padding: 8px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: black;
  position: fixed;
  z-index: 5;
  top: 0vh;
  width: 100%;
  background-color: #fff;

  .logo {
    flex: 0.3;
    font-size: 2rem;
    justify-content: center;

    h4 {
      color: #ff585d;
    }
  }

  .search-box {
    flex: 0.4;
    text-align: center;
    display: flex;
    padding: 5px 5px;
    border: 1px solid black;
    border-radius: 50px;
    height: 50px;

    input {
      background-color: transparent;
      border: none;
      text-align: center;
      min-width: 35vw;
      outline: none;
      color: black;
      font-size: 20px;
    }

    .search-icon {
      cursor: pointer;
      margin: 5px;
      font-size: 32px;
      color: black;
      &:hover {
        color: #ff585d;
      }
    }
  }

  .option-box {
    flex: 0.3;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option {
      padding: 10px 15px;
      cursor: pointer;

      &:hover {
        color: #ff585d;
      }
    }

    .cart-icon {
      font-size: 32px;
      cursor: pointer;

      &:hover {
        color: #ff585d;
      }
    }
  }
}

.scrolled {
  z-index: 2;
  background-color: #222629;
  opacity: 0.9;
  transition: 0.3s;
  width: 100%;

  .logo {
    h4 {
      color: #fff;
    }
  }

  .search-box {
    color: #fff;
    border: 1px solid #fff;

    input {
      color: #fff;
    }

    .search-icon {
      color: #fff;
    }
  }

  .option-box {
    .option {
      color: #fff;
    }
  }

  .cart-icon {
    color: #fff;
  }
}
