.search-box {
    text-align: center;
    display: flex;
    padding: 5px 5px;
    border: 1px solid lightgray;
    border-radius: 50px;
    height: 50px;

    &:hover {
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    }

    input {
      background-color: transparent;
      border: none;
      text-align: center;
      min-width: 35vw;
      outline: none;
      color: black;
      font-size: 20px;
    }

    .search-icon {
      cursor: pointer;
      margin: 5px;
      font-size: 32px;
      color: black;
      &:hover {
        color: #ff585d;
      }
    }
  }

  
@media (max-width: 380px) {
  .search-box {
    text-align: center;
    display: flex;
    padding: 5px 5px;
    border: 1px solid lightgray;
    border-radius: 50px;
    height: 30px;

    &:hover {
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    }

    input {
      background-color: transparent;
      border: none;
      text-align: center;
      min-width: 35vw;
      outline: none;
      color: black;
      font-size: 15px;
    }

    .search-icon {
      cursor: pointer;
      margin: 5px;
      font-size: 12px;
      color: black;
      &:hover {
        color: #ff585d;
      }
    }
  }
}